<app-header></app-header>

<div *ngIf="response.message" class="alert alert-danger" role="alert">
    {{ response.message }}
  </div>

<div class="card p-4 mb-5">
    <h2 class="mb-4">Profile utilisateur</h2>
    <p id="nom">Nom: {{  user.nom }}</p>
    <p id="prenom">Prénom: {{  user.prenom }}</p>
    <p id="email">Email: {{  user.email }}</p>
    <p id="age">Âge: {{  user.age }}</p>
    <p id="role">Role: {{  user.role }}</p>
    <p id="password">Mot de passe: {{  user.password }}</p>
    <button id="deleteButton" (click)="deleteUser(user.iduser)" class="btn btn-danger">Supprimer</button>
    <button id="updateButton" class="btn btn-primary mb-4">Mettre à jour</button>
    <a href="/adminpanel" class="btn btn-warning">Retour</a>
    <!-- Message j'aimerais qui s'affiche ici ! {{ ici }} -->
  </div>

<app-footer></app-footer>