<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid img">
        <a class="navbar-brand" href="#" [routerLink]="['/']"><strong>Commerce Crêpe</strong></a>
        <img
          src="https://cdn3.iconfinder.com/data/icons/world-classic-food/512/07-pancake-syrup-crepe-french-512.png"
          alt="Logo crêpe dans une assiette avec de la confiture qui coule"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="getToken" class="nav-link optionLien" href="#" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link optionLien" href="#">panier</a>
            </li>
            <li class="nav-item">
              <a class="nav-link optionLien" href="#footerid">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link optionLien" href="#"  [routerLink]="['/produits']">Produits Magasin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>