.img img {
    width: 40px;
    position: absolute;
    right: 6em;
}

a.nav-link.optionLien {
    padding: 10px;
    font-size: 15px;
}

a.nav-link.optionLien:hover {
    background-color: rgba(0, 0, 255, 0.702);
    color: rgb(252, 252, 252);
    border-radius: 3px;
}